@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background-color: #eee;
    font-size: 20px;
    min-width: 350px;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.wrapper {
    max-width: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.section__container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
}

/* ------ HEADER ------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    z-index: 100;
    background-color: #eee;
}
.header__icon {
    flex: 2;
}
.header__icon > img {
    display: block;
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}
.header__nav-menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 20px;
    padding: 10px;
    font-weight: 400;
}
.nav__link:hover {
    color: orange;
    transition: 0.4s;
}
@media (max-width: 1000px) {
    .header__menu-list {
        padding: 0 10px;
        white-space: nowrap;
    }
}
@media (max-width: 750px) {
    .header__nav-menu {
        margin-left: 10px;
    }
}
@media (max-width: 600px) {
    .header__nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }
    .header {
        flex-direction: column;
    }
    .header__icon > img {
        margin: 0 auto;
    }
}
/* ------ FORM HEAD ------ */

#form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#email {
    width: 275px;
    height: 35px;
}
#submit {
    margin-top: 15px;
    max-width: 150px;
    width: 100%;
    background-color: #f1c40f;
    border: none;
    height: 30px;
    padding: 0 8px;
    font-weight: 900;
    text-transform: uppercase;
}
#submit:hover {
    background-color: orange;
    cursor: pointer;
    transition: 0.8s;
}
@media (max-width: 600px) {
    #form {
        margin-top: 100px;
    }
}

/* ------ FEATURES ------ */
.section__container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 125px;
}
.features:nth-of-type(1) {
    margin-top: 60px;
}
.desc {
    display: inline-block;
    padding: 5px;
}
.desc p {
    margin-top: -20px;
}
.features__icon {
    width: 20%;
    min-width: 20%;
}
.features__icon img {
    display: block;
    margin: 0 auto;
}
@media (max-width: 500px) {
    .features {
        margin-top: 40px;
    }
    .features:nth-of-type(1) {
        margin-top: 40px;
    }
    .features__icon {
        display: none;
    }
    .desc {
        text-align: center;
    }
}

/* ------ VIDEO ------ */
.video__container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px auto 0 auto;
}
