@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background-color: #eee;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.wrapper {
    max-width: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
}

/* ------ HEADER ------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.header__icon {
    flex: 2;
}
.header__icon > img {
    display: block;
    margin-left: 20px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}
.header__nav-menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 20px;
    padding: 10px;
    font-weight: 400;
}
@media (max-width: 600px) {
    .header__nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0 auto;
    }
    .header {
        flex-direction: column;
    }
    .header__icon > img {
        margin: 0 auto;
    }
}
@media (max-width: 300px) {
    .header {
        max-width: 100%;
    }
    .header__nav-menu {
        flex-direction: column;
    }
}

/* ------ FORM HEAD ------ */

#form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-height: 200px;
    align-items: center;
    justify-content: center;
}
#email {
    width: 275px;
    height: 35px;
}
#submit {
    margin-top: 15px;
}
