@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    background-color: #eee;
    font-size: 20px;
    margin: 0;
}
ul {
    list-style: none;
}
.wrapper {
    max-width: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
a {
    color: inherit;
    text-decoration: none;
}

/* ------ HEADER ------ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.header__icon {
    flex: 2;
}
.header__icon > img {
    margin-left: 20px;
    max-width: 300px;
}
.header__nav-menu {
    flex: 1;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-right: 20px;
}
